@if(book){
<div class="container my-4 p-0">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-10">
      <div class="card book-card shadow-lg position-relative overflow-hidden border-0">
        <div class="row g-0">
          <div class="col-md-4 image-container">
            <img [src]="imgUrl" class="img-fluid rounded-start" [alt]="book.name" loading="lazy">
          </div>
          <div class="col-md-8 my-auto">
            <div class="card-body position-relative ">
              <div class="d-flex justify-content-between align-items-baseline">
                <h5 class="card-title d-flex align-items-center">
                  {{ book.name }}
                  <span class="d-md-none ms-auto mini-image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-chevron-compact-up bounce text-info mx-auto" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894z" />
                    </svg>
                    <img [src]="imgUrl" class="img-fluid rounded" alt="Mini Book Cover" loading="lazy">
                  </span>
                </h5>
                <span class="badge" [ngClass]="{
                                                  'bg-success text-white': book.available,
                                                  'bg-danger text-white': !book.available
                }">
                  <i class="bi me" [ngClass]="{
                                                  'bi-check-circle-fill': book.available,
                                                  'bi-x-circle-fill': !book.available
                                                }">
                  </i>
                  {{ book.available ? "Available" : "Not Available" }}
                </span>
              </div>
              <p class="card-text">
                <small class="muted">
                  <i class="bi bi-calendar-check me-1"></i> Published on {{ book.year }}
                </small>
              </p>
              <p class="card-text">
                <small class="muted">
                  <i class="bi bi-person-rolodex me-1"></i> Written by <i>{{ book.author }}</i>
                </small>
              </p>
              <div class="custom-line mb-3"></div>
              <p class="card-text">
                {{ book.type }}
              </p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <button class="btn btn-sm btn-custom" (click)="handleClick(book._id ?? '','view')">
                    <i class="bi bi-eye me-lg-1"></i><span class="d-none d-lg-inline-block">View</span></button>

                </li>

                <li class="list-inline-item">
                  <button class="btn btn-sm btn-custom" (click)="handleClick(book._id ?? '', 'edit')">
                    <i class="bi bi-pencil me-lg-1"></i><span class="d-none d-lg-inline-block">Edit</span></button>
                </li>

                <li class="list-inline-item">
                  <button class="btn btn-sm btn-outline-danger " (click)="handleClick(book._id ?? '', 'delete')">
                    <i class="bi bi-trash me-lg-1"></i><span class="d-none d-lg-inline-block">Delete</span></button>
                </li>

              </ul>

              <span class="badge m-0 p-0">
                <small class="muted">
                  <i class="bi bi-globe me-1"></i> Created on {{ book.createdOn | date:'longDate' }}
                </small>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of card -->
<hr class="border-primary col-10 col-md-8 col-lg-7 mx-auto">
}