<div class="footer"> <!-- class="container my-5"-->
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <div class="container pt-4">
      <section class="mb-4">
        @for (icon of iconsList; track icon) {
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i [class]="icon"></i
        ></a>
    }
      </section>
    </div>
    <div class="text-center text-dark p-3 gradient-footer">
        <!-- rgba(0, 0, 0, 0.2) -->
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">IP && KK</a>
    </div>
  </footer> 
  </div>
  