@if(dataStream$ | async; as customers) {
<div class="container p-sm-0 min-vh-80">
  <div class="home-container">
    <span class="">
      <div
        class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-start align-items-md-center">
        <h1 class="fw-light">Customers Details</h1>
        <div class="d-flex my-1 align-items-center gap-1">
          <app-refresh-page-button [rounded]="true" (handleRefreshEvent)="refreshCustomers()" />
          <app-add-new-button textValue="Add new" route="customer/add" [rounded]="true"
            (clickEvent)="addNewCustomer($event)" />
        </div>
      </div>
      <hr class="text-primary mt-0">
    </span>
    <div class="table-responsive">
      <table class="table table-striped" [ngClass]="isDarkTheme ? 'table-dark' : 'table-light'">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-truncate">Phone Number</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(customer of customers; track customer._id) {
          <tr>
            <th scope="row">{{ customer._id }}</th>
            <td>{{ customer.name }}</td>
            <td>{{ customer.surname }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phoneNumber }}</td>
            <td>
              <button class="btn btn-sm btn-primary text-white " (click)="view(customer._id ?? 'No ID')"
                aria-labelledby="View" title="View">
                <i class="bi bi-eye"></i>
              </button>
              <button class="btn btn-sm btn-orange text-white mx-1 " (click)="edit(customer._id?? 'No ID')"
                aria-labelledby="Edit" title="Edit">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-red text-white " (click)="delete(customer._id?? 'No ID')"
                aria-labelledby="Delete" title="Delete">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="container" title="Number of Books Found">
      @if(customers.length>0){
      <ng-container>
        <small>Total Results: {{customers.length}}</small>
      </ng-container>
      }@else{
      <ng-container>
        <hr class="text-primary">
        <small>No results found.</small>
      </ng-container>
      }
    </div>
  </div>
</div>
} @else {
<app-spinner></app-spinner>
}