@if(mockDataStream$ | async; as mockData) {
<div class="container p-sm-0 min-vh-80">
  <div class="home-container">
    <span class="">
      <h1 class="fw-light">Customers Details</h1>
      <hr class="text-primary mt-0">
    </span>
    <div class="table-responsive"> <!-- Added a div for responsive table -->
      <table class="table table-striped table-light">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-truncate">Phone Number</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(customer of mockData; track customer._id) {
          <tr>
            <th scope="row">{{ customer._id }}</th>
            <td>{{ customer.name }}</td>
            <td>{{ customer.surname }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phoneNumber }}</td>
            <td>
              <button class="btn btn-sm btn-primary text-white py-0" (click)="view(customer._id)"
                aria-labelledby="View">
                <i class="bi bi-eye"></i>
              </button>
              <button class="btn btn-sm btn-orange text-white mx-1 py-0" (click)="edit(customer._id)"
                aria-labelledby="Edit">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-red text-white py-0" (click)="delete(customer._id)"
                aria-labelledby="Delete">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
} @else {
<app-spinner></app-spinner>
}