<div class="container min-vh-75 d-flex justify-content-center align-items-center">
  <app-basic-wrapper [title]="'Edit Book'" [titleFooter]="titleFooter" [docId]="paramId" [backButton]="backButton"
    iconClass="bi bi-database-up">
    <form [formGroup]="bookFormControl" class="row g-3 needs-validation" novalidate>

      <!-- Book Title-->
      <div class="col-md-5">
        <label for="name" class="form-label">Book Title</label>
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="bi bi-book"></i></span>
          <input type="text" class="form-control" formControlName="name" id="name" autocomplete="name" [ngClass]="{
                    'is-invalid': bookFormControl.get('name')?.invalid && (bookFormControl.get('name')?.touched || bookFormControl.get('name')?.dirty),
                    'is-valid': bookFormControl.get('name')?.valid && (bookFormControl.get('name')?.touched || bookFormControl.get('name')?.dirty)
                 }" required>

          @if(bookFormControl.get('name')?.invalid && (bookFormControl.get('name')?.touched ||
          bookFormControl.get('name')?.dirty)){
          <div class="invalid-feedback">
            @if(bookFormControl.get('name')?.errors?.['required']){<div>Book title is required.</div>}
            @if(bookFormControl.get('name')?.errors?.['minlength']){<div>Minimum length is
              {{bookFormControl.get('name')?.errors?.['minlength']?.['actualLength']}}/3.</div>}
            @if(bookFormControl.get('name')?.errors?.['maxlength']){<div>Maximum length is
              {{bookFormControl.get('name')?.errors?.['maxlength']?.['actualLength']}}/15.</div>}
          </div>
          }

        </div>
      </div>

      <!-- Year Published-->
      <div class="col-md-3">
        <label for="year" class="form-label">Year Published</label>
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="bi bi-calendar"></i></span>
          <input type="number" class="form-control" formControlName="year" id="year" placeholder="e.g., 2024" [ngClass]="{
                    'is-invalid': bookFormControl.get('year')?.invalid && (bookFormControl.get('year')?.touched || bookFormControl.get('year')?.dirty),
                    'is-valid': bookFormControl.get('year')?.valid && (bookFormControl.get('year')?.touched || bookFormControl.get('year')?.dirty)
                 }" required>
          @if(bookFormControl.get('year')?.invalid && (bookFormControl.get('year')?.touched ||
          bookFormControl.get('year')?.dirty)){
          <div class="invalid-feedback">
            @if(bookFormControl.get('year')?.errors?.['required']){<div>Year is required.</div>}
            @if(bookFormControl.get('year')?.errors?.['min']){<div>Year must be at least 1900.</div>}
            @if(bookFormControl.get('year')?.errors?.['max']){<div>Year cannot be more than 2024.</div>}
          </div>
          }
        </div>
      </div>

      <!-- Created On-->
      <div class="col-md-4">
        <div class="d-flex align-items-center">
          <label for="createdOn" class="form-label">Created On</label>
          @if(!isDateToday(bookFormControl.controls['createdOn'].value ?? '')){
          <ng-container>
            <span class="d-block ms-auto">
              <button class="btn btn-sm btn-toggle shadow-sm py-0" (click)="setTodayDate()">
                <i class="bi bi-clock-history"></i>
                Set Today
              </button>
            </span>
          </ng-container>
          }
        </div>
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="bi bi-bookmark"></i></span>
          <input type="date" class="form-control" id="createdOn" formControlName="createdOn" [ngClass]="{
                    'is-invalid': bookFormControl.get('createdOn')?.invalid && (bookFormControl.get('createdOn')?.touched || bookFormControl.get('createdOn')?.dirty),
                    'is-valid': bookFormControl.get('createdOn')?.valid && (bookFormControl.get('createdOn')?.touched || bookFormControl.get('createdOn')?.dirty)
                 }" required>

          @if(bookFormControl.get('createdOn')?.invalid && (bookFormControl.get('createdOn')?.touched ||
          bookFormControl.get('createdOn')?.dirty)){
          <div class="invalid-feedback">
            Date is not valid. You can select 'Now'.
          </div>
          }
        </div>
      </div>

      <!-- Author-->
      <div class="col-md-8">
        <label for="author" class="form-label">Author</label>
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          <input type="text" class="form-control" id="author" formControlName="author" [ngClass]="{
                    'is-invalid': bookFormControl.get('author')?.invalid && (bookFormControl.get('author')?.touched || bookFormControl.get('author')?.dirty),
                    'is-valid': bookFormControl.get('author')?.valid && (bookFormControl.get('author')?.touched || bookFormControl.get('author')?.dirty)
                 }" required>

          @if(bookFormControl.get('author')?.invalid && (bookFormControl.get('author')?.touched ||
          bookFormControl.get('author')?.dirty)){
          <div class="invalid-feedback">
            @if(bookFormControl.get('author')?.errors?.['required']){<div>Author is required.</div>}
            @if(bookFormControl.get('author')?.errors?.['minlength']){<div>Minimum length is
              {{bookFormControl.get('author')?.errors?.['minlength']?.['actualLength']}}/3.</div>}
            @if(bookFormControl.get('author')?.errors?.['maxlength']){<div>Maximum length is
              {{bookFormControl.get('author')?.errors?.['maxlength']?.['actualLength']}}/15.</div>}
          </div>
          }
        </div>
      </div>

      <!-- Category-->
      <div class="col-md-4">
        <label for="type" class="form-label">Type</label>
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="bi bi-layers"></i></span>
          <select class="form-select" id="type" formControlName="type" [ngClass]="{
                    'is-invalid': bookFormControl.get('type')?.invalid && (bookFormControl.get('type')?.touched || bookFormControl.get('type')?.dirty),
                    'is-valid': bookFormControl.get('type')?.valid && (bookFormControl.get('type')?.touched || bookFormControl.get('type')?.dirty)
                  }" required>
            <option selected disabled value="">Category...</option>
            @for(category of categories;track category){<option [value]="category">{{ category }}</option>}

          </select>
          @if(bookFormControl.get('type')?.invalid && (bookFormControl.get('type')?.touched ||
          bookFormControl.get('type')?.dirty)){
          <div class="invalid-feedback">
            Please select a valid category.
          </div>
          }
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-custom disabled-notice float-end float-md-start" type="submit"
          [disabled]="bookFormControl.invalid" (click)="editBook()">
          <i class="me-1"
            [ngClass]="{'bi bi-pencil': bookFormControl.valid, 'bi bi-file-earmark-x': bookFormControl.invalid}"></i>Edit
          Book</button>
      </div>

    </form>
  </app-basic-wrapper>
</div>