.btn-blue {
  width: 40px;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-value {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-left: 8px;
  margin-right: 10px;
}

.btn-blue:hover .text-value {
  opacity: 1;
  visibility: visible;
  margin-right: 0px;
}

.btn-blue:hover {
  width: 120px;
}

.btn-blue:hover i {
  margin-right: 0;
}

::ng-deep body.dark .btn-blue {
  background-color: var(--bs-light-dark);
}