<div class="card mx-auto my-5 shadow" style="max-width: 50rem;">
  <div class="card-body d-flex flex-column">
    <!-- Optional title -->
    @if(title){
    
    <h3 class="card-title text-center d-inline"><i class="bi bi-database-add"></i> {{ title }}</h3>
    }

    @if(titleFooter){
    <p class="card-header-pills text-center text-muted small mb-1">{{titleFooter}}</p>
    <hr class="text-primary">
    }

    <!-- Flexible content -->
    <div class="flex-grow-1">
      <ng-content></ng-content>
    </div>

    <!-- Optional footer -->
    @if(footer){
    <div class="card-footer text-center">{{ footer }}</div>
    }
  </div>
</div>