<div class="container-fluid p-0">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner carousel-hight">
          <div class="carousel-item active">
            <img src="https://media.istockphoto.com/id/1015149600/photo/book-hall-in-library.jpg?s=1024x1024&w=is&k=20&c=zP6IS306JLLvKZi7VXKf8nC7v8qyM4r4CLlwDbJlKW0=" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/1503372066/photo/many-books-stacked-with-blurred-background-of-bookstore-full-of-books-photo-with-copyspace.jpg?b=1&s=612x612&w=0&k=20&c=u_iCx3Uyswl2jYMZgfiME3_CTNobTI9kOgppAGM_m6c=" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/949118068/photo/books.jpg?b=1&s=612x612&w=0&k=20&c=7LDdLrIwD1hH709wnAr--Yk0s82raIGuCgo7m09jvg0=" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

