<div class="container min-vh-100">
  <div class="home-container">
    <div class="col-12 mx-auto">
      <div class="col-10 col-md-9 mx-auto">
        <app-search [showContent]="true" searchPlaceholder="Search Books...">
          <app-add-new-button [textValue]="'Add book'" [rounded]="true" route="book/add" (clickEvent)="add($event)" />
        </app-search>
      </div>
      <div class="container">
        <div class="col-10 col-lg-8 mx-auto">
          @for(filter of filters; track filter.id){
          <app-filter [id]="filter.id" [filterId]="filter.id" [title]="filter.title" [checked]="filter.isChecked" />
          }
        </div>
      </div>
    </div>

    @if(books$ | async; as books){
    <div class="container">
      @for(book of books; track book._id){
      <app-book [book]="book" [imgUrl]="createImgUrls(book)" (handleClickEvent)="handleAction($event)" />
      }
    </div>

    <div class="container" title="Number of Books Found">
      @if(books.length>0){
      <ng-container>
        <small>Search Results: {{books.length}}</small>
      </ng-container>
      }@else{
      <ng-container>
        <hr class="text-primary">
        <small>No results found.</small>
      </ng-container>
      }
    </div>

    }@else{
    <app-spinner />
    }
  </div>
</div>