@if(apiStatuses$ | async; as apiStatuses) {
<div class="d-flex flex-lg-row flex-column align-items-start">
  @for(apiStatus of apiStatuses; track apiStatus.title) {
  <ng-container>
    <p class="d-flex align-items-center mb-1 me-lg-3">
      <span class="badge text-white" [ngClass]="{ 'bg-success': apiStatus.status, 'bg-danger': !apiStatus.status }">
        <i [ngClass]="apiStatus.status ? 'bi bi-wifi' : 'bi bi-wifi-off'" class="text-white"></i>
        {{ apiStatus.status ? 'Online' : 'Offline' }}
      </span>
      <strong><small class="ms-1">{{ apiStatus.title }}</small></strong>
    </p>
  </ng-container>
  }
</div>
} @else {
<app-spinner minVh=" " />
}