.toggle-btn {
  position: absolute;
  top: 10%;
  right: 1%;
  width: 180px;
  opacity: 0; /* Make the button invisible initially */
  transition: opacity 0.3s ease, background-color 0.3s ease;
  border: 0;
}

.toggle-btn:focus,
.toggle-btn:active {
  outline: none;
  box-shadow: none;
}

.toggle-btn span {
  font-weight: bold;
}

.toggle-btn:hover {
  opacity: 1; /* Make the button fully visible on hover */
  background-color: var(--bs-text-foreground);
  color: var(--bs-text);
}