<div class="container min-vh-75 p-sm-0">
  <div class="home-container">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 text-truncate px-0">
          <div class="d-flex align-items-end">
            <div class="vr" style="height: 2.5em;"></div>
            <h1 class="fw-light ms-2">Reservations Details</h1>
          </div>

          <div class="d-flex align-items-end">
            <div class="vr" style="height: 1em;"></div>
            <p class="card-header-pills text-gray small mb-0 ms-2">
              <i class="bi bi-question-circle me-1"></i>
              Review, update & manage reservations.
            </p>
          </div>
        </div>
        <div class="col-md-7 px-0">
          <app-search [showContent]="true" searchPlaceholder="Search Reservations...">
            <app-actions-dropdown [dropdownActions]="dropdownActions" />
            <app-refresh-page-button [rounded]="true" (handleRefreshEvent)="refreshCustomers()" />
            <app-add-new-button textValue="Add new" route="reservation/add" [rounded]="true"
              (clickEvent)="add($event)" />
          </app-search>
        </div>
      </div>
    </div>

    @if(reservations$|async; as reservations){
    <div class="table-responsive">
      <span>
        <hr class="mx-auto">
      </span>
      <table class="table table-striped" [ngClass]="isDarkTheme ? 'table-dark' : 'table-light'">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book Name</th>
            <th scope="col">Customer</th>
            <th scope="col" class="text-truncate">Reserved On</th>
            <th scope="col" class="text-truncate">Return By</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(reservation of reservations; track reservation._id;let idx =$index){
          <tr>
            <th scope="row">{{idx + 1}}</th>
            <td>{{reservation.book?.name}}</td>
            <td>{{reservation.customer?.name ?? 'Guest'}}</td>
            <td>{{reservation.reservedOn | date}}</td>
            <td>{{reservation.returnBy |date}}</td>
            <td>
              <span class="rounded-pill px-2" [ngClass]="{
                      'text-bg-green': reservation.status === 'active',
                      'text-bg-red': reservation.status !== 'active'
                    }" [title]="reservation.status === 'active'?'Complete Reservation': 'Completed'">
                <button class="btn btn-link btn-sm text-decoration-none text-white custom-width  text-showdowed "
                  (click)="complete(reservation._id ?? 'NO ID')" [disabled]="reservation?.status === 'completed'"
                  onkeypress>{{ reservation.status | uppercase}}</button>
              </span>
            </td>
            <td>
              <button class="btn btn-sm btn-green text-white py-0" (click)="view(reservation._id ?? 'NO ID')"
                aria-labelledby="View">
                <i class="bi bi-eye"></i>
              </button>
              <button class="btn btn-sm btn-orange text-white mx-1 py-0" (click)="edit(reservation._id ?? 'NO ID')"
                aria-labelledby="Edit">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-red text-white py-0" (click)="delete(reservation._id ?? 'NO ID')"
                aria-labelledby="Delete">
                <i class="bi bi-trash"></i>
              </button>
            </td>

          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="container" title="Number of Books Found">
      @if(reservations.length>0){
      <ng-container>
        <small>Total Results: {{reservations.length}}</small>
      </ng-container>
      }@else{
      <ng-container>
        <hr class="text-primary">
        <small>No results found.</small>
      </ng-container>
      }
    </div>
    }@else {
    <app-spinner minVh=" min-vh-75" />
    }
  </div>
</div>