@media (max-width: 768px) {
  .card-body {
    display: block;
    padding: 1rem;
  }

  .card-body div {
    margin-bottom: 0.5rem;
  }

  .card-body div:last-child {
    margin-bottom: 0;
  }
}

.text-showdowed {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.custom-width {
  width: 113.86px;
}

.progress-bar-container {
  background-color: #e9ecef;
  /* Light gray for the background */
  height: 4px;
  border-radius: 2px;
  margin-top: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--bs-green);
}

.progress-red .progress-bar {
  background-color: var(--bs-red)
}

/* Red for overdue */
.progress-orange .progress-bar {
  background-color: var(--bs-orange)
}

/* Orange for close to due */
.progress-yellow .progress-bar {
  background-color: #ffc107;
}

/* Yellow for moderate */
.progress-green .progress-bar {
  background-color: var(--bs-green)
}

.text-muted {
  color: var(--bs-gray-600) !important;
}

