@if(customerToView$ | async; as customer){
<div class="container min-vh-75 d-flex justify-content-center align-items-center">
  <app-basic-wrapper [title]="customer.name + ''+ customer.surname" [docId]="customer._id"
    [titleFooter]="'Showing result for customer ID:'" [backButton]="backButton" [showTitleIcon]="false">
    <form class="row g-3">
      <!-- Customer Title -->
      <div class="col-md-6">
        <label for="name" class="form-label">Customer Name</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          <input type="text" class="form-control" name="name" id="name" placeholder="Customer Name" autocomplete="name"
            [value]="customer.name" disabled>
        </div>
      </div>

      <!-- Customer Surname -->
      <div class="col-md-6">
        <label for="year" class="form-label">Customer Surname</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-calendar"></i></span>
          <input type="text" class="form-control" name="year" id="year" placeholder="Customer Surname"
            autocomplete="family-name" [value]="customer.surname" disabled>
        </div>
      </div>

      <!-- Email -->
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope-at"></i></span>
          <input type="email" class="form-control" name="email" id="email" placeholder="Email" autocomplete="email"
            [value]="customer.email" disabled>
        </div>
      </div>

      <!-- PhoneNumber -->
      <div class="col-md-6">
        <label for="author" class="form-label">PhoneNumber</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          <input type="text" class="form-control" name="author" id="author" placeholder="Author"
            [value]="customer.phoneNumber" disabled>
        </div>
      </div>

    </form>
  </app-basic-wrapper>
</div>

}@else {
<app-spinner />
}