<div class="home-container">
  <!-- Header -->
  <section class="text-start my-5">
    <div class="container">
      <div class="row d-flex align-items-baseline">
        <div class="col-lg-5">
          <h1 class="display-4 font-weight-bold text"><i class="bi bi-activity me-1"></i>Dashboard</h1>
          <div class="d-flex align-items-baseline">
            <div class="vr" style="height: 1.1em;"></div>
            <p class="card-header-pills text small mb-0 ms-2">Quick settings and system information.</p>
          </div>
        </div>
        <div class="col-lg-5 mx-auto">
          <div class="container mt-1">
            <div class="row justify-content-start gap-1">
              <app-api-status></app-api-status>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section>
    <div class="container">
      <!-- Header Section -->
      <div class="row mb-1 g-4">
        <div class="col-12">
          <h3><i class="bi bi-sliders"></i> Quick Settings</h3>
          <div class="container">
            <div class="d-flex align-items-center ml-1">
              <div class="vr me-2" style="height: 1.2em;"></div>
              <p class="mb-0">Showing list of available books.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- First Row: Available Books Section -->
      <div class="row g-4">
        <div class="col-12 px-0 col-lg-10 mx-auto">
          <div class="container mb-4">
            <app-available-books></app-available-books>
          </div>
        </div>
      </div>

      <!-- Header Section -->
      <div class="row mt-3">
        <div class="col-12">
          <h3><i class="bi bi-bar-chart"></i> Available Books per Type</h3>
        </div>
      </div>

      <!-- Second Row: Chart Section -->
      <div class="row g-4">
        <div class="col-12 mx-auto">
          @if(dataStream$ | async; as chartData) {
          <div class="container">
            @if(isBarChart) {
            <!-- Bar Chart View -->
            <div class="col-12 mx-auto">
              <div class="d-flex align-items-center">
                <div class="vr me-2" style="height: 1.2em;"></div>
                <p class="mb-0 flex-grow-1 text-truncate">Bar chart view.</p>
                <button class="btn btn-sm btn-secondary py-0 text-white text-nowrap" (click)="toggleChart()">
                  <i class="bi bi-pie-chart me-1 text-white"></i>Pie
                </button>
              </div>
            </div>
            <div class="col-lg-10 mx-auto">
              <div class="mt-4">
                <app-chart-bar [data]="chartData" [theme]="isDarkTheme"></app-chart-bar>
              </div>
            </div>
            } @else {
            <!-- Pie Chart View -->
            <div class="d-flex align-items-center">
              <div class="vr me-2" style="height: 1.2em;"></div>
              <p class="mb-0 flex-grow-1 me-3 text-truncate">Pie chart view.</p>
              <button class="btn btn-sm btn-secondary py-0 text-white text-nowrap" (click)="toggleChart()">
                <i class="bi bi-bar-chart me-1 text-white"></i>Bar
              </button>
            </div>
            <div class="mt-4">
              <app-chart-pie [data]="chartData" [theme]="isDarkTheme"></app-chart-pie>
            </div>
            }

          </div>
          } @else {
          <!-- Loading Spinner -->
          <app-spinner minVh="min-vh-30"></app-spinner>
          }
          <p class="small text-center"><i class="bi bi-question-circle me-1"></i>Actual data consumed from the API.
          </p>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container mt-3">
      <!-- Header Section -->
      <div class="row mb-1 g-4">
        <div class="col-12">
          <h3><i class="bi bi-info-circle me-1"></i>System Information & Statistics</h3>
          <div class="container">
            <div class="d-flex align-items-center ml-1">
              <div class="vr me-2" style="height: 1.2em;"></div>
              <p class="mb-0">Additional system statistics. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-11 mx-auto mt-4">
        <nav
          style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
          aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="dashboard" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">General</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="dashboard/heatmap" routerLinkActive="active">Sales Heatmap</a>
            </li>
            <!-- <li class="breadcrumb-item">
              <a routerLink="chart2" routerLinkActive="active">Chart2</a>
            </li> -->
          </ol>
        </nav>
      </div>
    </div>

    <ng-container>
      <router-outlet />
    </ng-container>

  </section>

</div>