<div class="home-container">
  <section class="title-section text-start my-5">
    <div class="container">
      <div class="row d-flex justify-content-between align-items-baseline">
        <div class="col-lg-5">
          <h1 class="display-4 font-weight-bold text"><i class="bi bi-activity"></i>System Info</h1>
        </div>
        <div class="col-lg-7">
          <div class="d-flex justify-content-around">
            @if(apiStatuses$ |async; as apiStatuses){
            @for(apiStatus of apiStatuses; track apiStatus.title){
            <p>
              <span class="badge text-white" [ngClass]="{
                  'bg-success': apiStatus.status,
                  'bg-danger': !apiStatus.status
                }">
                <i class="text-secondary" [ngClass]="apiStatus.status ? 'bi bi-wifi' : 'bi bi-wifi-off'"></i>
                {{ apiStatus.status ? 'Online ' : 'Offline' }}
              </span>
              <strong><small class="ms-1">{{ apiStatus.title }}</small></strong>
            </p>
            }
            }@else{<app-spinner minVh=" " [spinnerSize]="{ width: '1rem', height: '1rem' }" />}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-flex align-items-baseline">
        <div class="vr" style="height: 1em;"></div>
        <p class="card-header-pills text small mb-0 ms-2">Quick settings and system information.</p>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-6">
          @if(customers$ | async; as customers){<app-chart-gauge [data]="customers" seriesName="Registered Customers"
            dataChartName="Users" [theme]="isDarkTheme" />}@else{<app-spinner minVh="min-vh-30 " />}
        </div> -->
        <div class="col-md-6">
          <app-available-books />
        </div>

        <div class="col-md-6">
          @if(reservations$ | async; as reservations){<app-chart-gauge [data]="reservations"
            seriesName="Total Reservations" dataChartName="Reservations" color="#f16821"
            [theme]="isDarkTheme" />}@else{<app-spinner minVh="min-vh-30 " />}
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <nav
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="dashboard/quick-settings" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="dashboard/heatmap" routerLinkActive="active">HeatMap</a>
          </li>
          <!-- <li class="breadcrumb-item">
            <a routerLink="chart2" routerLinkActive="active">Chart2</a>
          </li> -->
        </ol>
      </nav>
    </div>
  </section>

  <section>
    <ng-container>
      <router-outlet />
    </ng-container>
  </section>
</div>