<div> <!-- class="container my-5"-->
  <footer class="text-center text-white">
    <div class="container pt-4">
      <section class="mb-4">
        @for (icon of socialsList; track icon.title) {
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" [href]="icon.href" role="button" onkeydown
          data-mdb-ripple-color="dark"><i [class]="icon.icon"></i><span
            class="visually-hidden">{{icon.title}}</span></a>
        }
      </section>
    </div>
    <div class="text-center text-dark p-3 border-top">
      <!-- rgba(0, 0, 0, 0.2) -->
      <p>© {{ currentYear }} Copyright</p>
      <a class="text-dark" href="https://mdbootstrap.com/">IP && KK</a>
    </div>
  </footer>
</div>