<div class="card mx-auto my-5 shadow card-wrapper">
  <div class="row g-0 h-100 d-flex align-items-stretch">
    <!-- Left column: IMAGE -->
    <div class="col-12 col-md-6 d-flex align-items-stretch">
      <img [src]="imageSrc" [alt]="imgAlt" class="card-img w-100" style="object-fit: cover;" />
    </div>

    <!-- Right column: FORM -->
    <div class="col-12 col-md-6 d-flex align-items-stretch">
      <div class="card-body d-flex flex-column justify-content-center w-100">
        <h3 class="card-title text-center fw-medium">{{ title }}</h3>
        <p class="card-text text-center fw-light fs-5">{{ description }}</p>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>